<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the public site.</p>
    
    <p>
    <a href="/login">Login</a> to see your profile information.
    </p>
  </body>
</html>
