<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/login" method="POST">
		Username<br>
		<input name="username" id="username" autofocus><br>
		Password<br>
		<input type="password" name="password" id="password" autofocus><br>
		<button type="submit">Login</button>
	</form>
  <br>
  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% } %>

  </body>
</html>
