

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Hello <%- user.username %>.</h1>
	<p>Welcome to the super secret profile page!</p>
  <hr>
  Groups:
  <ul>
    <% for(var k in user.groups) { %>
      <li><%- user.groups[k].cn %></li>
    <% } %>
  </ul>
  <a href="/Logout">Logout</a>
  </body>
</html>
